:root {
  --white: #ffffff;
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --text-preset1: 800 24px/1.5 'Figtree';
  --text-preset2: 500 16px/1.5 'Figtree';
  --text-preset3: 500 14px/1.5 'Figtree';
  --text-preset3-bold: 800 14px/1.5 'Figtree';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  min-height: 100vh;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 87%;
  max-width: 384px;
  background-color: var(--white);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 20px;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 1);
  border: 1px solid var(--gray-950);
}

.card-image {
  border-radius: 10px;
}

/* Card Content */
.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.card-content .tag {
  background-color: var(--yellow);
  color: var(--gray-950);
  font: var(--text-preset3-bold);
  padding: 4px 12px;
  border-radius: 4px;
}

.card-content .publish-date {
  color: var(--gray-950);
  font: var(--text-preset3);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.card-content .title a {
  color: var(--gray-950);
  font: var(--text-preset1);
  text-decoration: none;
}

.card-content .title a:hover {
  color: var(--yellow);
}

.card-content .description {
  color: var(--gray-500);
  font: var(--text-preset2);
}

/* Card Author */
.card-author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-author .author-image {
  width: 32px;
  height: 32px;
}

.card-author .author-name {
  color: var(--gray-950);
  font: var(--text-preset3-bold);
}
