:root {
  --white: #ffffff;
  --stale-900: #1f314f;
  --stale-500: #68778d;
  --stale-300: #d5e1ef;
  --text-preset-1: 700 22px/1.2 "Outfit";
  --text-preset-2: 400 15px/1.4 "Outfit";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--stale-300);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 85%;
  max-width: 320px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
  box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.0477);
}

.card-image {
  border-radius: 10px;
}

/* Card Content */
.card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding: 0 16px;
}

.card-content .title {
  color: var(--stale-900);
  font: var(--text-preset-1);
}

.card-content .description {
  color: var(--stale-500);
  font: var(--text-preset-2);
  letter-spacing: 0.2px;
}
