/* Color */
$white: #ffffff;
$black: #000000;
$navy-950: #303b59;
$navy-200: #cac9ff;
$navy-50: #ecf2ff;
$blue-800: #1125d6;
$blue-50: #f3f4fd;
$yellow-400: #ffb21e;
$yellow-50: #fffbf4;
$red-400: #ff5555;
$red-50: #fff6f6;
$green-500: #00bb8f;
$green-50: #f2fcf9;

/* Gradient */
@mixin gradient-1 {
  background-image: linear-gradient(to bottom, #4d21c9, rgba(37, 33, 201, 0%));
}

@mixin gradient-2 {
  background-image: linear-gradient(to bottom, #7755ff, #2f2ce9);
}

/* Font */
$font-family: "Hanken Grotesk", sans-serif;

@mixin text-preset-1 {
  font-family: $font-family;
  font-weight: 800;
  font-size: 72px;
  line-height: 1;
}

@mixin text-preset-2 {
  font-family: $font-family;
  font-weight: 800;
  font-size: 56px;
  line-height: 1;
}

@mixin text-preset-3 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
}

@mixin text-preset-4 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

@mixin text-preset-5-bold {
  font-family: $font-family;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

@mixin text-preset-5-medium {
  font-family: $font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
}

@mixin text-preset-6-bold {
  font-family: $font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
}

@mixin text-preset-6-medium {
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
}
