@use 'variables' as v;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: v.$white;
}

/* Card */
.card {
  background-color: v.$white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px 0;
}

/* Result */
.result-container {
  @include v.gradient-2;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;

  .result-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  // Your result
  .your-result {
    @include v.text-preset-5-bold;
    color: v.$navy-50;
  }

  // Score
  .score-container {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include v.gradient-1;
    border-radius: 50%;

    .score-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        @include v.text-preset-2;
        color: v.$white;
      }

      p {
        @include v.text-preset-6-bold;
        color: v.$navy-200;
      }
    }
  }

  // Feedback
  .feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;

    .title {
      @include v.text-preset-4;
      color: v.$white;
    }

    .description {
      @include v.text-preset-6-medium;
      color: v.$navy-200;
    }
  }
}

/* Summary */
.summary-container {
  display: flex;
  justify-content: center;

  .summary-content {
    width: 84%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    // Title
    .title {
      @include v.text-preset-5-bold;
      color: v.$navy-950;
    }

    // Bars
    .bars {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .bar {
        display: flex;
        justify-content: space-between;
        border-radius: 12px;
        padding: 17.5px 16px;

        .bar-content {
          display: flex;
          align-items: center;
          gap: 16px;
          @include v.text-preset-6-medium;
        }

        .bar-score {
          display: flex;
          align-items: center;
          gap: 8px;

          span {
            @include v.text-preset-6-bold;
            color: v.$navy-950;
          }

          span:last-child {
            opacity: 50%;
          }
        }
      }

      .bar-red {
        color: v.$red-400;
        background-color: v.$red-50;
      }

      .bar-yellow {
        color: v.$yellow-400;
        background-color: v.$yellow-50;
      }

      .bar-green {
        color: v.$green-500;
        background-color: v.$green-50;
      }

      .bar-blue {
        color: v.$blue-800;
        background-color: v.$blue-50;
      }
    }

    // Continue Button
    .continue-button {
      background-color: v.$navy-950;
      color: v.$white;
      @include v.text-preset-5-bold;
      border-radius: 128px;
      border: none;
      padding: 16.5px 0;
      cursor: pointer;

      &:hover {
        @include v.gradient-2;
      }
    }
  }
}

/* RWD for Tablet & Desktop */
@media (min-width: 768px) {
  body {
    background-color: v.$blue-50;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 89%;
    max-width: 736px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    border-radius: 32px;
    box-shadow: 0 30px 60px 0 rgba(61, 108, 236, 0.15);
  }

  /* Result */
  .result-container {
    border-radius: 32px;
    padding: 45px 0;

    .result-content {
      gap: 32px;

      // Your result
      .your-result {
        @include v.text-preset-4;
      }

      // Score
      .score-container {
        width: 200px;
        height: 200px;

        .score-content {
          h2 {
            @include v.text-preset-1;
          }

          p {
            @include v.text-preset-5-bold;
          }
        }
      }
    }

    // Feedback
    .feedback {
      gap: 16px;

      .title {
        @include v.text-preset-3;
      }

      .description {
        @include v.text-preset-5-medium;
      }
    }
  }

  /* Summary */
  .summary-container {
    align-items: center;

    .summary-content {
      width: 77%;

      // Title
      .title {
        @include v.text-preset-4;
      }

      // Bars
      .bars {
        .bar {
          .bar-content {
            @include v.text-preset-5-medium;
          }

          .bar-score {
            span {
              @include v.text-preset-5-bold;
            }
          }
        }
      }
    }
  }
}
