/* Color */
$grey-500: #4d4f62;
$grey-400: #6A7178;
$white: #ffffff;
$red: #ea5454;
$cyan: #44d3d2;
$blue: #549ef2;
$orange: #fcae4a;
$background-grey: #fafafa;

/* Screen */
$tablet: 768px;
$desktop: 1200px;

/* Typography */
$font-family: "Poppins", sans-serif;
@mixin text-preset-1 {
  font-family: $font-family;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0.25px;
}

@mixin text-preset-1-mobile {
  font-family: $font-family;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.25px;
}

@mixin text-preset-2 {
  font-family: $font-family;
  font-weight: 200;
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0.25px;
}

@mixin text-preset-2-mobile {
  font-family: $font-family;
  font-weight: 200;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.25px;
}

@mixin text-preset-3 {
  font-family: $font-family;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.35;
}

@mixin text-preset-4 {
  font-family: $font-family;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

@mixin text-preset-4-mobile {
  font-family: $font-family;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.1px;
}

@mixin text-preset-5 {
  font-family: $font-family;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 0.09px;
}
