:root {
  --white: #FFFFFF;
  --dark-navy: #1F314F;
  --navy: #68778D;
  --light-navy: #D5E1EF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--light-navy);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 85%;
  max-width: 320px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
}

.card-image {
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding: 0 16px;
}

.card-content h2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0;
  color: var(--dark-navy);
}

.card-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.2px;
  color: var(--navy);
}


